This dataset provides information pertaining to vehicle loan default payments. The goal of this project is to see which features are most correlated with a borrowers' loan defaults in their first equated monthly installement (EMI) as well as figuring out the likelihood (probability) of default based off a model that incoporates those features. 

Before we do any analysis on our dataset, it is important that we clean our data. This portion of the project is a step by step process of how I managed to wrangle the data.

First we need to import our packages and find the directory where our dataset lies.

In [1]:
# Import necessary packages
import pandas as pd
import os
from datetime import datetime

In [2]:
# Go to directory folder where our dataset exists
path="/Users/student/Desktop/SpringBoardDSCareerTrack/Capstone 2 Datasets/Vehicle Loan Payments/data"
os.chdir(path)
os.getcwd()

'/Users/student/Desktop/SpringBoardDSCareerTrack/Capstone 2 Datasets/Vehicle Loan Payments/data'

Next, we load the dataset into a pandas dataframe and explore its contents.

In [3]:
# Save csv data as a dataframe: df
df = pd.read_csv('train.csv')
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [4]:
df.info()  # check info to see how many null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             233154 non-null  int64
 1   disbursed_amount                     233154 non-null  int64
 2   asset_cost                           233154 non-null  int64
 3   ltv                                  233154 non-null  float64
 4   branch_id                            233154 non-null  int64
 5   supplier_id                          233154 non-null  int64
 6   manufacturer_id                      233154 non-null  int64
 7   Current_pincode_ID                   233154 non-null  int64
 8   Date.of.Birth                        233154 non-null  object
 9   Employment.Type                      225493 non-null  object
 10  DisbursalDate                        233154 non-null  object
 11  State_ID                             233154 non-null  int64
 12  Employee_code_ID                     233154 non-null  int64
 13  MobileNo_Avl_Flag                    233154 non-null  int64
 14  Aadhar_flag                          233154 non-null  int64
 15  PAN_flag                             233154 non-null  int64
 16  VoterID_flag                         233154 non-null  int64
 17  Driving_flag                         233154 non-null  int64
 18  Passport_flag                        233154 non-null  int64
 19  PERFORM_CNS.SCORE                    233154 non-null  int64
 20  PERFORM_CNS.SCORE.DESCRIPTION        233154 non-null  object
 21  PRI.NO.OF.ACCTS                      233154 non-null  int64
 22  PRI.ACTIVE.ACCTS                     233154 non-null  int64
 23  PRI.OVERDUE.ACCTS                    233154 non-null  int64
 24  PRI.CURRENT.BALANCE                  233154 non-null  int64
 25  PRI.SANCTIONED.AMOUNT                233154 non-null  int64
 26  PRI.DISBURSED.AMOUNT                 233154 non-null  int64
 27  SEC.NO.OF.ACCTS                      233154 non-null  int64
 28  SEC.ACTIVE.ACCTS                     233154 non-null  int64
 29  SEC.OVERDUE.ACCTS                    233154 non-null  int64
 30  SEC.CURRENT.BALANCE                  233154 non-null  int64
 31  SEC.SANCTIONED.AMOUNT                233154 non-null  int64
 32  SEC.DISBURSED.AMOUNT                 233154 non-null  int64
 33  PRIMARY.INSTAL.AMT                   233154 non-null  int64
 34  SEC.INSTAL.AMT                       233154 non-null  int64
 35  NEW.ACCTS.IN.LAST.SIX.MONTHS         233154 non-null  int64
 36  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  233154 non-null  int64
 37  AVERAGE.ACCT.AGE                     233154 non-null  object
 38  CREDIT.HISTORY.LENGTH                233154 non-null  object
 39  NO.OF_INQUIRIES                      233154 non-null  int64
 40  loan_default                         233154 non-null  int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [5]:
# We've also been given descriptions for each feature:
df_descriptions = pd.read_csv('data_dictionary.csv', index_col = False)
print(df_descriptions[['Variable Name', 'Description']])

                          Variable Name  \
0                              UniqueID
1                          loan_default
2                      disbursed_amount
3                            asset_cost
4                                   ltv
5                             branch_id
6                           supplier_id
7                       manufacturer_id
8                       Current_pincode
9                         Date.of.Birth
10                      Employment.Type
11                        DisbursalDate
12                             State_ID
13                     Employee_code_ID
14                    MobileNo_Avl_Flag
15                          Aadhar_flag
16                             PAN_flag
17                         VoterID_flag
18                         Driving_flag
19                        Passport_flag
20                    PERFORM_CNS.SCORE
21        PERFORM_CNS.SCORE.DESCRIPTION
22                      PRI.NO.OF.ACCTS
23                     PRI.ACTIVE.ACCTS
24                    PRI.OVERDUE.ACCTS
25                  PRI.CURRENT.BALANCE
26                PRI.SANCTIONED.AMOUNT
27                 PRI.DISBURSED.AMOUNT
28                      SEC.NO.OF.ACCTS
29                     SEC.ACTIVE.ACCTS
30                    SEC.OVERDUE.ACCTS
31                  SEC.CURRENT.BALANCE
32                SEC.SANCTIONED.AMOUNT
33                 SEC.DISBURSED.AMOUNT
34                   PRIMARY.INSTAL.AMT
35                       SEC.INSTAL.AMT
36         NEW.ACCTS.IN.LAST.SIX.MONTHS
37  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS
38                     AVERAGE.ACCT.AGE
39                CREDIT.HISTORY.LENGTH
40                      NO.OF_INQUIRIES

                                          Description
0                            Identifier for customers
1        Payment default in the first EMI on due date
2                            Amount of Loan disbursed
3                                   Cost of the Asset
4                          Loan to Value of the asset
5                 Branch where the loan was disbursed
6         Vehicle Dealer where the loan was disbursed
7         Vehicle manufacturer(Hero, Honda, TVS etc.)
8                     Current pincode of the customer
9                       Date of birth of the customer
10  Employment Type of the customer (Salaried/Self...
11                               Date of disbursement
12                              State of disbursement
13  Employee of the organization who logged the di...
14  if Mobile no. was shared by the customer then ...
15  if aadhar was shared by the customer then flag...
16  if pan was shared by the customer then flagged...
17  if voter  was shared by the customer then flag...
18  if DL was shared by the customer then flagged ...
19  if passport was shared by the customer then fl...
20                                       Bureau Score
21                           Bureau score description
22  count of total loans taken by the customer at ...
23  count of active loans taken by the customer at...
24  count of default accounts at the time of disbu...
25  total Principal outstanding amount of the acti...
26  total amount that was sanctioned for all the l...
27  total amount that was disbursed for all the lo...
28  count of total loans taken by the customer at ...
29  count of active loans taken by the customer at...
30  count of default accounts at the time of disbu...
31  total Principal outstanding amount of the acti...
32  total amount that was sanctioned for all the l...
33  total amount that was disbursed for all the lo...
34                     EMI Amount of the primary loan
35                   EMI Amount of the secondary loan
36  New loans taken by the customer in last 6 mont...
37               Loans defaulted in the last 6 months
38                                Average loan tenure
39                              Time since first loan
40            Enquries done by the customer for loans

In [6]:
# Confirm all features which have missing data the percentage of NA: NA values
nas=pd.DataFrame(df.isnull().sum().sort_values(ascending=False)/len(df),columns = ['percent'])
pos = nas['percent'] > 0
nas[pos]      # Employment.Type is the only feature with missing values

                  percent
Employment.Type  0.032858

In [7]:
# Check the unique values of 'Employent.Type'
df['Employment.Type'].unique()

array(['Salaried', 'Self employed', nan], dtype=object)

In [8]:
# Figure out what to do with missing value for employment type!

In [9]:
# Check which features have dtype of object
df_col_list = list(df.columns)

object_list = []

for column in df_col_list:
    if df[column].dtype == object:
        object_list.append(column)
        
print(object_list)

['Date.of.Birth', 'Employment.Type', 'DisbursalDate', 'PERFORM_CNS.SCORE.DESCRIPTION', 'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']

In [10]:
# Check the unique values for each feature of dtype object to validate date is of same format.
for obj in object_list:
    print('The unique values of feature', obj, 'is' , df[obj].unique())

The unique values of feature Date.of.Birth is ['01-01-84' '31-07-85' '24-08-85' ... '24-03-62' '23-07-66' '08-12-62']
The unique values of feature Employment.Type is ['Salaried' 'Self employed' nan]
The unique values of feature DisbursalDate is ['03-08-18' '26-09-18' '01-08-18' '26-10-18' '19-09-18' '23-09-18'
 '16-09-18' '05-09-18' '29-09-18' '03-09-18' '30-08-18' '31-08-18'
 '22-10-18' '18-09-18' '20-09-18' '06-09-18' '11-10-18' '20-10-18'
 '27-08-18' '08-10-18' '17-09-18' '10-09-18' '18-10-18' '16-08-18'
 '10-10-18' '23-10-18' '30-09-18' '21-09-18' '12-09-18' '21-08-18'
 '14-08-18' '17-10-18' '30-10-18' '06-08-18' '04-10-18' '16-10-18'
 '21-10-18' '15-09-18' '06-10-18' '24-10-18' '28-08-18' '13-09-18'
 '31-10-18' '07-09-18' '24-08-18' '05-10-18' '14-10-18' '13-10-18'
 '11-08-18' '28-09-18' '25-10-18' '29-10-18' '10-08-18' '12-08-18'
 '25-08-18' '26-08-18' '08-08-18' '27-10-18' '18-08-18' '23-08-18'
 '20-08-18' '22-09-18' '24-09-18' '15-10-18' '28-10-18' '14-09-18'
 '04-09-18' '13-08-18' '17-08-18' '29-08-18' '27-09-18' '04-08-18'
 '03-10-18' '08-09-18' '25-09-18' '22-08-18' '09-08-18' '09-10-18'
 '19-10-18' '07-08-18' '11-09-18' '12-10-18' '05-08-18' '02-10-18']
The unique values of feature PERFORM_CNS.SCORE.DESCRIPTION is ['No Bureau History Available' 'I-Medium Risk' 'L-Very High Risk'
 'A-Very Low Risk' 'Not Scored: Not Enough Info available on the customer'
 'D-Very Low Risk' 'M-Very High Risk' 'B-Very Low Risk' 'C-Very Low Risk'
 'E-Low Risk' 'H-Medium Risk' 'F-Low Risk' 'K-High Risk'
 'Not Scored: No Activity seen on the customer (Inactive)'
 'Not Scored: Sufficient History Not Available'
 'Not Scored: No Updates available in last 36 months' 'G-Low Risk'
 'J-High Risk' 'Not Scored: Only a Guarantor'
 'Not Scored: More than 50 active Accounts found']
The unique values of feature AVERAGE.ACCT.AGE is ['0yrs 0mon' '1yrs 11mon' '0yrs 8mon' '1yrs 9mon' '0yrs 2mon' '4yrs 8mon'
 '1yrs 7mon' '0yrs 7mon' '2yrs 1mon' '1yrs 3mon' '1yrs 0mon' '3yrs 11mon'
 '0yrs 1mon' '2yrs 6mon' '1yrs 10mon' '0yrs 11mon' '0yrs 6mon' '2yrs 9mon'
 '3yrs 1mon' '2yrs 0mon' '0yrs 4mon' '1yrs 1mon' '0yrs 5mon' '2yrs 10mon'
 '3yrs 9mon' '1yrs 2mon' '12yrs 10mon' '0yrs 10mon' '1yrs 6mon'
 '2yrs 5mon' '3yrs 8mon' '2yrs 3mon' '1yrs 5mon' '2yrs 8mon' '0yrs 9mon'
 '3yrs 0mon' '7yrs 3mon' '4yrs 4mon' '1yrs 4mon' '0yrs 3mon' '1yrs 8mon'
 '3yrs 4mon' '3yrs 5mon' '4yrs 7mon' '2yrs 7mon' '2yrs 4mon' '3yrs 10mon'
 '5yrs 6mon' '2yrs 2mon' '3yrs 3mon' '4yrs 0mon' '4yrs 10mon' '9yrs 10mon'
 '5yrs 0mon' '5yrs 1mon' '4yrs 11mon' '6yrs 2mon' '10yrs 3mon'
 '6yrs 11mon' '4yrs 6mon' '4yrs 5mon' '6yrs 8mon' '6yrs 5mon' '5yrs 3mon'
 '4yrs 1mon' '3yrs 6mon' '4yrs 3mon' '3yrs 7mon' '3yrs 2mon' '7yrs 0mon'
 '5yrs 2mon' '7yrs 11mon' '5yrs 5mon' '4yrs 9mon' '9yrs 11mon' '7yrs 5mon'
 '2yrs 11mon' '10yrs 0mon' '6yrs 0mon' '5yrs 9mon' '4yrs 2mon'
 '11yrs 7mon' '6yrs 9mon' '6yrs 3mon' '10yrs 9mon' '7yrs 6mon' '8yrs 0mon'
 '12yrs 3mon' '8yrs 1mon' '7yrs 9mon' '5yrs 10mon' '5yrs 4mon' '8yrs 5mon'
 '11yrs 4mon' '6yrs 7mon' '5yrs 11mon' '6yrs 4mon' '6yrs 6mon' '9yrs 7mon'
 '5yrs 7mon' '8yrs 8mon' '5yrs 8mon' '10yrs 2mon' '8yrs 9mon' '10yrs 8mon'
 '12yrs 0mon' '9yrs 8mon' '8yrs 2mon' '13yrs 10mon' '7yrs 10mon'
 '7yrs 8mon' '9yrs 9mon' '9yrs 2mon' '8yrs 4mon' '10yrs 11mon'
 '11yrs 0mon' '11yrs 8mon' '9yrs 1mon' '10yrs 1mon' '6yrs 10mon'
 '11yrs 2mon' '11yrs 10mon' '10yrs 4mon' '13yrs 0mon' '13yrs 8mon'
 '10yrs 10mon' '11yrs 6mon' '10yrs 7mon' '7yrs 7mon' '9yrs 0mon'
 '13yrs 1mon' '7yrs 4mon' '6yrs 1mon' '11yrs 1mon' '14yrs 7mon'
 '8yrs 3mon' '7yrs 1mon' '8yrs 7mon' '9yrs 6mon' '7yrs 2mon' '9yrs 4mon'
 '14yrs 3mon' '11yrs 11mon' '9yrs 5mon' '8yrs 6mon' '11yrs 3mon'
 '8yrs 10mon' '9yrs 3mon' '12yrs 9mon' '12yrs 7mon' '14yrs 5mon'
 '12yrs 6mon' '14yrs 1mon' '13yrs 5mon' '15yrs 11mon' '10yrs 6mon'
 '13yrs 7mon' '13yrs 6mon' '14yrs 8mon' '30yrs 9mon' '11yrs 9mon'
 '15yrs 3mon' '8yrs 11mon' '18yrs 11mon' '15yrs 2mon' '15yrs 5mon'
 '10yrs 5mon' '24yrs 4mon' '13yrs 11mon' '13yrs 3mon' '14yrs 0mon'
 '12yrs 11mon' '16yrs 3mon' '17yrs 10mon' '16yrs 11mon' '12yrs 2mon'
 '12yrs 4mon' '15yrs 0mon' '12yrs 5mon' '11yrs 5mon' '12yrs 1mon'
 '22yrs 6mon' '13yrs 2mon' '15yrs 4mon' '13yrs 4mon' '14yrs 11mon'
 '14yrs 2mon' '16yrs 0mon' '16yrs 5mon' '16yrs 7mon' '14yrs 6mon'
 '15yrs 8mon']
The unique values of feature CREDIT.HISTORY.LENGTH is ['0yrs 0mon' '1yrs 11mon' '1yrs 3mon' '2yrs 0mon' '0yrs 2mon' '4yrs 8mon'
 '1yrs 7mon' '0yrs 7mon' '2yrs 3mon' '2yrs 9mon' '2yrs 1mon' '7yrs 2mon'
 '0yrs 1mon' '5yrs 6mon' '4yrs 7mon' '1yrs 9mon' '0yrs 11mon' '0yrs 10mon'
 '5yrs 10mon' '3yrs 1mon' '5yrs 4mon' '4yrs 10mon' '0yrs 4mon' '4yrs 0mon'
 '3yrs 9mon' '2yrs 11mon' '1yrs 8mon' '5yrs 2mon' '2yrs 10mon' '1yrs 2mon'
 '1yrs 5mon' '12yrs 10mon' '2yrs 2mon' '3yrs 8mon' '7yrs 5mon' '1yrs 0mon'
 '4yrs 2mon' '1yrs 10mon' '0yrs 6mon' '3yrs 2mon' '5yrs 1mon' '4yrs 3mon'
 '6yrs 9mon' '1yrs 1mon' '11yrs 0mon' '0yrs 9mon' '5yrs 0mon' '11yrs 2mon'
 '4yrs 1mon' '1yrs 4mon' '4yrs 9mon' '12yrs 11mon' '3yrs 7mon' '2yrs 5mon'
 '0yrs 3mon' '6yrs 6mon' '1yrs 6mon' '7yrs 4mon' '19yrs 3mon' '3yrs 0mon'
 '4yrs 6mon' '2yrs 7mon' '2yrs 8mon' '3yrs 11mon' '4yrs 11mon' '8yrs 1mon'
 '7yrs 7mon' '6yrs 7mon' '2yrs 4mon' '3yrs 10mon' '3yrs 3mon' '9yrs 2mon'
 '5yrs 11mon' '7yrs 1mon' '0yrs 5mon' '3yrs 5mon' '3yrs 4mon' '2yrs 6mon'
 '3yrs 6mon' '6yrs 10mon' '6yrs 3mon' '4yrs 5mon' '13yrs 2mon'
 '12yrs 3mon' '0yrs 8mon' '6yrs 2mon' '11yrs 11mon' '6yrs 5mon'
 '5yrs 5mon' '6yrs 11mon' '11yrs 4mon' '6yrs 1mon' '8yrs 6mon' '8yrs 4mon'
 '5yrs 8mon' '8yrs 11mon' '11yrs 3mon' '10yrs 9mon' '7yrs 3mon'
 '5yrs 7mon' '10yrs 0mon' '6yrs 8mon' '5yrs 3mon' '10yrs 10mon'
 '8yrs 8mon' '4yrs 4mon' '6yrs 0mon' '8yrs 3mon' '8yrs 7mon' '10yrs 5mon'
 '24yrs 8mon' '13yrs 5mon' '5yrs 9mon' '8yrs 5mon' '10yrs 2mon'
 '7yrs 0mon' '8yrs 10mon' '11yrs 5mon' '9yrs 4mon' '12yrs 0mon'
 '9yrs 8mon' '7yrs 11mon' '9yrs 5mon' '11yrs 7mon' '7yrs 8mon' '6yrs 4mon'
 '9yrs 11mon' '9yrs 10mon' '13yrs 3mon' '11yrs 8mon' '10yrs 1mon'
 '11yrs 6mon' '8yrs 9mon' '10yrs 4mon' '16yrs 1mon' '9yrs 1mon'
 '15yrs 2mon' '11yrs 9mon' '12yrs 1mon' '8yrs 2mon' '22yrs 7mon'
 '10yrs 3mon' '9yrs 7mon' '8yrs 0mon' '14yrs 9mon' '14yrs 10mon'
 '14yrs 0mon' '10yrs 8mon' '16yrs 5mon' '10yrs 7mon' '11yrs 10mon'
 '12yrs 6mon' '7yrs 9mon' '16yrs 4mon' '11yrs 1mon' '7yrs 6mon'
 '7yrs 10mon' '9yrs 9mon' '12yrs 8mon' '12yrs 9mon' '13yrs 7mon'
 '9yrs 0mon' '17yrs 1mon' '22yrs 3mon' '13yrs 10mon' '13yrs 6mon'
 '12yrs 4mon' '10yrs 11mon' '9yrs 3mon' '12yrs 5mon' '14yrs 11mon'
 '10yrs 6mon' '9yrs 6mon' '15yrs 1mon' '14yrs 3mon' '13yrs 4mon'
 '14yrs 7mon' '15yrs 11mon' '27yrs 4mon' '13yrs 0mon' '13yrs 8mon'
 '19yrs 11mon' '16yrs 8mon' '24yrs 2mon' '15yrs 7mon' '13yrs 1mon'
 '12yrs 7mon' '15yrs 6mon' '15yrs 5mon' '13yrs 11mon' '16yrs 6mon'
 '23yrs 3mon' '17yrs 0mon' '14yrs 6mon' '17yrs 10mon' '14yrs 1mon'
 '18yrs 1mon' '15yrs 3mon' '20yrs 6mon' '14yrs 8mon' '15yrs 9mon'
 '19yrs 9mon' '15yrs 10mon' '17yrs 9mon' '15yrs 4mon' '12yrs 2mon'
 '19yrs 10mon' '15yrs 8mon' '14yrs 4mon' '14yrs 2mon' '14yrs 5mon'
 '27yrs 3mon' '19yrs 8mon' '17yrs 6mon' '16yrs 9mon' '20yrs 1mon'
 '16yrs 2mon' '19yrs 4mon' '13yrs 9mon' '18yrs 4mon' '17yrs 3mon'
 '18yrs 2mon' '37yrs 5mon' '16yrs 0mon' '18yrs 6mon' '19yrs 7mon'
 '16yrs 3mon' '20yrs 5mon' '21yrs 3mon' '25yrs 6mon' '20yrs 8mon'
 '22yrs 1mon' '20yrs 9mon' '17yrs 2mon' '18yrs 5mon' '30yrs 9mon'
 '29yrs 7mon' '15yrs 0mon' '16yrs 10mon' '18yrs 11mon' '16yrs 11mon'
 '22yrs 2mon' '23yrs 6mon' '20yrs 11mon' '18yrs 10mon' '24yrs 4mon'
 '28yrs 1mon' '16yrs 7mon' '20yrs 10mon' '25yrs 0mon' '25yrs 7mon'
 '39yrs 0mon' '23yrs 2mon' '19yrs 6mon' '18yrs 0mon' '17yrs 7mon'
 '23yrs 4mon' '21yrs 5mon' '17yrs 5mon' '21yrs 8mon' '30yrs 7mon'
 '17yrs 4mon' '19yrs 5mon' '18yrs 8mon' '22yrs 6mon' '24yrs 7mon'
 '20yrs 4mon' '28yrs 3mon' '35yrs 3mon' '29yrs 1mon' '20yrs 2mon'
 '34yrs 5mon' '17yrs 11mon' '26yrs 3mon' '28yrs 7mon' '24yrs 0mon'
 '26yrs 8mon' '21yrs 11mon' '17yrs 8mon' '19yrs 1mon' '21yrs 1mon'
 '26yrs 11mon' '22yrs 11mon' '25yrs 8mon' '22yrs 0mon' '20yrs 0mon'
 '22yrs 4mon' '21yrs 9mon' '28yrs 9mon' '19yrs 0mon' '25yrs 11mon'
 '23yrs 1mon' '21yrs 2mon' '22yrs 10mon']

In [11]:
# If we want to do a time series later on, it'd be useful to have 'Date.of.Birth' and 'DisbursalDate' as datetime objects.

# Currently the year is only given as the last two digits. Since 2018 is latest year in dataset, we will add 19 as prefix if 
# digit is greater than 18. Ex. if date of birth is given as '01-01-84', the function will return '01-01-1984'. 
def fixYear(datecol):
    if int(datecol[-2:]) > 18:
        fixedYear = '19' + datecol[-2:]
        newdatecol = datecol[:-2] + fixedYear
    else:
        newdatecol = datecol[:-2] + '20' + datecol[-2:]
    return newdatecol

# Apply the function to 'Date.of.Birth' and 'DisbursalDate' features.
df['Date.of.Birth'] = df['Date.of.Birth'].apply(fixYear)
df['DisbursalDate'] = df['DisbursalDate'].apply(fixYear)

In [12]:
# Run the cell to see the new date formats. This format can be translated into datetime object. 
print('New format for Date.of.Birth:'); print(df['Date.of.Birth'])
print('\n')
print('New format for DisbursalDate:')
print(df['DisbursalDate'])

New format for Date.of.Birth:
0         01-01-1984
1         31-07-1985
2         24-08-1985
3         30-12-1993
4         09-12-1977
             ...
233149    01-08-1988
233150    05-12-1988
233151    01-06-1976
233152    26-03-1994
233153    18-02-1984
Name: Date.of.Birth, Length: 233154, dtype: object


New format for DisbursalDate:
0         03-08-2018
1         26-09-2018
2         01-08-2018
3         26-10-2018
4         26-09-2018
             ...
233149    26-10-2018
233150    23-10-2018
233151    24-10-2018
233152    29-09-2018
233153    27-10-2018
Name: DisbursalDate, Length: 233154, dtype: object

In [13]:
# Let's convert Date.of.Birth and DisbursalDate columns into datetime objects. 

# ONLY RUN THIS CELL ONCE. 

# Create datetime object given time format DD-MM-YR
df['Date.of.Birth'] = df['Date.of.Birth'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y'))
df['DisbursalDate'] = df['DisbursalDate'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y'))

# Verify that 'Date.of.Birth' and 'DisbursalDate' is of type datetime. 
print('Date.of.Birth column is of type:',df['Date.of.Birth'].dtypes)
print('Disbursal column is of type:',df['DisbursalDate'].dtypes)

Date.of.Birth column is of type: datetime64[ns]
Disbursal column is of type: datetime64[ns]

In [14]:
# Print the count of unique values for every column, regardless of data type.

for column in df_col_list:
    print(len(df[column].unique()),'unique values for', column , ':',df[column].unique())
    print('\n')

233154 unique values for UniqueID : [420825 537409 417566 ... 613658 548084 630213]


24565 unique values for disbursed_amount : [50578 47145 53278 ... 61456 51406 34259]


46252 unique values for asset_cost : [ 58400  65550  61360 ...  45233  52965 116009]


6579 unique values for ltv : [89.55 73.23 89.63 ... 33.32 32.53 33.82]


82 unique values for branch_id : [ 67  78  34 130  74  11   5  20  63  48  79   3  42 142  36  16 146 147
  65   9   1 152  29  10  70  19   7  85  61  17   8 153  18 162  68  72
  64   2 160 251 103 104 120 136  77  13 138 135  73 248  15 165  62  76
 105 249 250 255 254  82 158 159 117 202 259 207  35  69  97  43 257 258
 260 111  66 261 101  14 121 217  84 100]


2953 unique values for supplier_id : [22807 22744 17014 ... 23618 22289 24031]


11 unique values for manufacturer_id : [ 45  86  48  51 120  49 145  67 153 156 152]


6698 unique values for Current_pincode_ID : [1441 1502 1497 ... 3586  680  693]


15433 unique values for Date.of.Birth : ['1984-01-01T00:00:00.000000000' '1985-07-31T00:00:00.000000000'
 '1985-08-24T00:00:00.000000000' ... '1962-03-24T00:00:00.000000000'
 '1966-07-23T00:00:00.000000000' '1962-12-08T00:00:00.000000000']


3 unique values for Employment.Type : ['Salaried' 'Self employed' nan]


84 unique values for DisbursalDate : ['2018-08-03T00:00:00.000000000' '2018-09-26T00:00:00.000000000'
 '2018-08-01T00:00:00.000000000' '2018-10-26T00:00:00.000000000'
 '2018-09-19T00:00:00.000000000' '2018-09-23T00:00:00.000000000'
 '2018-09-16T00:00:00.000000000' '2018-09-05T00:00:00.000000000'
 '2018-09-29T00:00:00.000000000' '2018-09-03T00:00:00.000000000'
 '2018-08-30T00:00:00.000000000' '2018-08-31T00:00:00.000000000'
 '2018-10-22T00:00:00.000000000' '2018-09-18T00:00:00.000000000'
 '2018-09-20T00:00:00.000000000' '2018-09-06T00:00:00.000000000'
 '2018-10-11T00:00:00.000000000' '2018-10-20T00:00:00.000000000'
 '2018-08-27T00:00:00.000000000' '2018-10-08T00:00:00.000000000'
 '2018-09-17T00:00:00.000000000' '2018-09-10T00:00:00.000000000'
 '2018-10-18T00:00:00.000000000' '2018-08-16T00:00:00.000000000'
 '2018-10-10T00:00:00.000000000' '2018-10-23T00:00:00.000000000'
 '2018-09-30T00:00:00.000000000' '2018-09-21T00:00:00.000000000'
 '2018-09-12T00:00:00.000000000' '2018-08-21T00:00:00.000000000'
 '2018-08-14T00:00:00.000000000' '2018-10-17T00:00:00.000000000'
 '2018-10-30T00:00:00.000000000' '2018-08-06T00:00:00.000000000'
 '2018-10-04T00:00:00.000000000' '2018-10-16T00:00:00.000000000'
 '2018-10-21T00:00:00.000000000' '2018-09-15T00:00:00.000000000'
 '2018-10-06T00:00:00.000000000' '2018-10-24T00:00:00.000000000'
 '2018-08-28T00:00:00.000000000' '2018-09-13T00:00:00.000000000'
 '2018-10-31T00:00:00.000000000' '2018-09-07T00:00:00.000000000'
 '2018-08-24T00:00:00.000000000' '2018-10-05T00:00:00.000000000'
 '2018-10-14T00:00:00.000000000' '2018-10-13T00:00:00.000000000'
 '2018-08-11T00:00:00.000000000' '2018-09-28T00:00:00.000000000'
 '2018-10-25T00:00:00.000000000' '2018-10-29T00:00:00.000000000'
 '2018-08-10T00:00:00.000000000' '2018-08-12T00:00:00.000000000'
 '2018-08-25T00:00:00.000000000' '2018-08-26T00:00:00.000000000'
 '2018-08-08T00:00:00.000000000' '2018-10-27T00:00:00.000000000'
 '2018-08-18T00:00:00.000000000' '2018-08-23T00:00:00.000000000'
 '2018-08-20T00:00:00.000000000' '2018-09-22T00:00:00.000000000'
 '2018-09-24T00:00:00.000000000' '2018-10-15T00:00:00.000000000'
 '2018-10-28T00:00:00.000000000' '2018-09-14T00:00:00.000000000'
 '2018-09-04T00:00:00.000000000' '2018-08-13T00:00:00.000000000'
 '2018-08-17T00:00:00.000000000' '2018-08-29T00:00:00.000000000'
 '2018-09-27T00:00:00.000000000' '2018-08-04T00:00:00.000000000'
 '2018-10-03T00:00:00.000000000' '2018-09-08T00:00:00.000000000'
 '2018-09-25T00:00:00.000000000' '2018-08-22T00:00:00.000000000'
 '2018-08-09T00:00:00.000000000' '2018-10-09T00:00:00.000000000'
 '2018-10-19T00:00:00.000000000' '2018-08-07T00:00:00.000000000'
 '2018-09-11T00:00:00.000000000' '2018-10-12T00:00:00.000000000'
 '2018-08-05T00:00:00.000000000' '2018-10-02T00:00:00.000000000']


22 unique values for State_ID : [ 6  4  3  9  5 10 18 15  1 16 13 14 17  2 11  7 12  8 20 19 22 21]


3270 unique values for Employee_code_ID : [1998 1646  115 ... 3198 3705 3479]


1 unique values for MobileNo_Avl_Flag : [1]


2 unique values for Aadhar_flag : [1 0]


2 unique values for PAN_flag : [0 1]


2 unique values for VoterID_flag : [0 1]


2 unique values for Driving_flag : [0 1]


2 unique values for Passport_flag : [0 1]


573 unique values for PERFORM_CNS.SCORE : [  0 598 305 825  17 718 818 300 786 738 688 585 615 750 801 730 758 768
 610 653 413 709 719  16  15 701 626 717 692 501 693 762 749 702  18 763
 599 824 575 607 819 841 656 836 427 687 743 783 733 708 772 650 342 680
 676 548 429 597 663 667 792 707 798 606 681 830 684 686 593 746 829 651
 710 573 695 671 729 879 603 753 502 739 605 706 657 639 785 405 690 602
 635 630 741 625 628 766  14 809 737 722 760 640 797 505 774 620 728 694
 679 470 823 685 832 662 627 392 643 727 660 705 726 796 611 771 586 839
 623 700 691 793 752 644 734 582 437 601 703 675 755 740 810 661 324 759
 646 659 583 440 638 490 609 721 574 673 600 784 652 595 777 596 655 678
 713 362 466 399 426 532 386 821 714 508 636 537 698 590 488 608 519 398
 308 634 666 523 642 616 455 672 451 469 567 572 723 367 369 654 641 647
 366 845 775 724 323 461 665 493 459 512 549 335 571 617 449 540 442 594
 757 423 568 613 562 633 309 406 517 534 649 471 344 503 499 513 699 417
 683 624 428 732 404 711 612 805 375 629 677 569 589 363 447 431 742 689
 767 622 474 815 495 371 343 380 781 799 631 592 542 697 584 670 580 441
 348 696 316 756 545 669 619 385 744 453 731 416 393 448 578 390 618 554
 782 339 835 498 452 557 581 648 712 377 536 407 507 456 430 668 327 859
 778 419 525 372 330 563 432 538 487 485 464 403 745 478 751 773 748 564
 401 789 664 621 614 410 632 550 591 354 446 522 588 450 509 682 560 855
 561 472 345 337 374 481 527 736 383 435 716 790 604 425 791 359 725 439
 303 389 735 346 637 521 844 559 457 529 496 840 336 530 533 754 302 826
 645 415 565 543 541 556 779 500 704 820 397 539 795 467 780 558 506 566
 555 552 811 489 411 577 473 484 436 587 579 674 516 720 807 444 544 462
 551 816 483 510 806 747 381 378 321 812 800 535 340 465 518 770 504 764
 468 475 438 477 494 482 511 396 418 479 520 878 570 460 424 803 547 769
 858 379 315 546 421 310 476 497 356 715 395 553 526 576 312 890 814 445
 454 853 658 412 434 804 761 528 458 515 514 307 408 314 319 433 492 817
 318 350 402 400 794 368 531 388 409 422 365 333 394 347 382 463 787 301
 357 317 802 524 420 486 491 326 306 355 864 813 480 391 361 373 358 376
 414 351 352 320 788 370 349 360 443 869 828 338 833 341 850 808 776 870
 329 304 328 384 387 842 834 863 847 322 311 325 868  11 873 353 765 332
 843 364 331 849 862 822 884 852 334 831 827 838 837 313 867]


20 unique values for PERFORM_CNS.SCORE.DESCRIPTION : ['No Bureau History Available' 'I-Medium Risk' 'L-Very High Risk'
 'A-Very Low Risk' 'Not Scored: Not Enough Info available on the customer'
 'D-Very Low Risk' 'M-Very High Risk' 'B-Very Low Risk' 'C-Very Low Risk'
 'E-Low Risk' 'H-Medium Risk' 'F-Low Risk' 'K-High Risk'
 'Not Scored: No Activity seen on the customer (Inactive)'
 'Not Scored: Sufficient History Not Available'
 'Not Scored: No Updates available in last 36 months' 'G-Low Risk'
 'J-High Risk' 'Not Scored: Only a Guarantor'
 'Not Scored: More than 50 active Accounts found']


108 unique values for PRI.NO.OF.ACCTS : [  0   1   3   2   7  10   5   6  13   9   4  11  36   8  17  12  14  16
  24  29  21  30  15  34  25  56  20  49  19  45  18  23  22  31  46  26
  40  37  27  32  38  35  28  48  58  41  90  60  93  50  43  39  33  44
  55  66  53 120  47  42  62  82  94  52  51 108  57  67  78  54  68  65
  59 148 271  70  72  74  63 147  73  64  71  87  84  99  61  77 453 132
  91  81 113  69 194  76 354  88 100 102 136 124  85 131 104 114  86  83]


40 unique values for PRI.ACTIVE.ACCTS : [  0   1   2   5   4   8   3   6   9  11   7  14  10  12  21  20  15  16
  18  13  19  17  31  25  23  27  26  65  32  24  22  35  34  52  28  43
  37 144  42  39]


22 unique values for PRI.OVERDUE.ACCTS : [ 0  1  3  2 14  4  5  8  6  7  9 18 13 11 12 17 10 23 19 15 16 25]

71341 unique values for PRI.CURRENT.BALANCE : [     0  27600  72879 ...  13064 201422 390443]


44390 unique values for PRI.SANCTIONED.AMOUNT : [     0  50200  74500 ...  85629 276624 416133]


47909 unique values for PRI.DISBURSED.AMOUNT : [     0  50200  74500 ...  80226 237977 416133]


37 unique values for SEC.NO.OF.ACCTS : [ 0  2  1  3 11  9  5  4  7 19  6 16  8 10 23 13 25 46 14 31 15 20 18 28
 30 38 37 29 12 24 17 34 21 42 22 35 52]


23 unique values for SEC.ACTIVE.ACCTS : [ 0  2  1  3 11  4  9  5  7  6 10 26 22  8 21 14 15 12 20 13 36 17 16]


9 unique values for SEC.OVERDUE.ACCTS : [0 1 4 5 3 2 6 8 7]


3246 unique values for SEC.CURRENT.BALANCE : [      0 1171994 5787530 ... 3618737   17326   41108]


2223 unique values for SEC.SANCTIONED.AMOUNT : [      0 1690000   40000 ... 3953133   64040   49246]


2553 unique values for SEC.DISBURSED.AMOUNT : [      0 1690000     361 ... 3953133   64040   49246]


28067 unique values for PRIMARY.INSTAL.AMT : [    0  1991    31 ... 22090 79611 23356]


1918 unique values for SEC.INSTAL.AMT : [   0 9382 6485 ... 2665 3500 3558]


26 unique values for NEW.ACCTS.IN.LAST.SIX.MONTHS : [ 0  1  4  2  6  3  9  5 14  8  7 13 22 10 11 12 35 17 28 15 19 23 16 20
 18 21]


14 unique values for DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS : [ 0  1  2  3  5  4  7  6  8  9 12 10 20 11]


192 unique values for AVERAGE.ACCT.AGE : ['0yrs 0mon' '1yrs 11mon' '0yrs 8mon' '1yrs 9mon' '0yrs 2mon' '4yrs 8mon'
 '1yrs 7mon' '0yrs 7mon' '2yrs 1mon' '1yrs 3mon' '1yrs 0mon' '3yrs 11mon'
 '0yrs 1mon' '2yrs 6mon' '1yrs 10mon' '0yrs 11mon' '0yrs 6mon' '2yrs 9mon'
 '3yrs 1mon' '2yrs 0mon' '0yrs 4mon' '1yrs 1mon' '0yrs 5mon' '2yrs 10mon'
 '3yrs 9mon' '1yrs 2mon' '12yrs 10mon' '0yrs 10mon' '1yrs 6mon'
 '2yrs 5mon' '3yrs 8mon' '2yrs 3mon' '1yrs 5mon' '2yrs 8mon' '0yrs 9mon'
 '3yrs 0mon' '7yrs 3mon' '4yrs 4mon' '1yrs 4mon' '0yrs 3mon' '1yrs 8mon'
 '3yrs 4mon' '3yrs 5mon' '4yrs 7mon' '2yrs 7mon' '2yrs 4mon' '3yrs 10mon'
 '5yrs 6mon' '2yrs 2mon' '3yrs 3mon' '4yrs 0mon' '4yrs 10mon' '9yrs 10mon'
 '5yrs 0mon' '5yrs 1mon' '4yrs 11mon' '6yrs 2mon' '10yrs 3mon'
 '6yrs 11mon' '4yrs 6mon' '4yrs 5mon' '6yrs 8mon' '6yrs 5mon' '5yrs 3mon'
 '4yrs 1mon' '3yrs 6mon' '4yrs 3mon' '3yrs 7mon' '3yrs 2mon' '7yrs 0mon'
 '5yrs 2mon' '7yrs 11mon' '5yrs 5mon' '4yrs 9mon' '9yrs 11mon' '7yrs 5mon'
 '2yrs 11mon' '10yrs 0mon' '6yrs 0mon' '5yrs 9mon' '4yrs 2mon'
 '11yrs 7mon' '6yrs 9mon' '6yrs 3mon' '10yrs 9mon' '7yrs 6mon' '8yrs 0mon'
 '12yrs 3mon' '8yrs 1mon' '7yrs 9mon' '5yrs 10mon' '5yrs 4mon' '8yrs 5mon'
 '11yrs 4mon' '6yrs 7mon' '5yrs 11mon' '6yrs 4mon' '6yrs 6mon' '9yrs 7mon'
 '5yrs 7mon' '8yrs 8mon' '5yrs 8mon' '10yrs 2mon' '8yrs 9mon' '10yrs 8mon'
 '12yrs 0mon' '9yrs 8mon' '8yrs 2mon' '13yrs 10mon' '7yrs 10mon'
 '7yrs 8mon' '9yrs 9mon' '9yrs 2mon' '8yrs 4mon' '10yrs 11mon'
 '11yrs 0mon' '11yrs 8mon' '9yrs 1mon' '10yrs 1mon' '6yrs 10mon'
 '11yrs 2mon' '11yrs 10mon' '10yrs 4mon' '13yrs 0mon' '13yrs 8mon'
 '10yrs 10mon' '11yrs 6mon' '10yrs 7mon' '7yrs 7mon' '9yrs 0mon'
 '13yrs 1mon' '7yrs 4mon' '6yrs 1mon' '11yrs 1mon' '14yrs 7mon'
 '8yrs 3mon' '7yrs 1mon' '8yrs 7mon' '9yrs 6mon' '7yrs 2mon' '9yrs 4mon'
 '14yrs 3mon' '11yrs 11mon' '9yrs 5mon' '8yrs 6mon' '11yrs 3mon'
 '8yrs 10mon' '9yrs 3mon' '12yrs 9mon' '12yrs 7mon' '14yrs 5mon'
 '12yrs 6mon' '14yrs 1mon' '13yrs 5mon' '15yrs 11mon' '10yrs 6mon'
 '13yrs 7mon' '13yrs 6mon' '14yrs 8mon' '30yrs 9mon' '11yrs 9mon'
 '15yrs 3mon' '8yrs 11mon' '18yrs 11mon' '15yrs 2mon' '15yrs 5mon'
 '10yrs 5mon' '24yrs 4mon' '13yrs 11mon' '13yrs 3mon' '14yrs 0mon'
 '12yrs 11mon' '16yrs 3mon' '17yrs 10mon' '16yrs 11mon' '12yrs 2mon'
 '12yrs 4mon' '15yrs 0mon' '12yrs 5mon' '11yrs 5mon' '12yrs 1mon'
 '22yrs 6mon' '13yrs 2mon' '15yrs 4mon' '13yrs 4mon' '14yrs 11mon'
 '14yrs 2mon' '16yrs 0mon' '16yrs 5mon' '16yrs 7mon' '14yrs 6mon'
 '15yrs 8mon']


294 unique values for CREDIT.HISTORY.LENGTH : ['0yrs 0mon' '1yrs 11mon' '1yrs 3mon' '2yrs 0mon' '0yrs 2mon' '4yrs 8mon'
 '1yrs 7mon' '0yrs 7mon' '2yrs 3mon' '2yrs 9mon' '2yrs 1mon' '7yrs 2mon'
 '0yrs 1mon' '5yrs 6mon' '4yrs 7mon' '1yrs 9mon' '0yrs 11mon' '0yrs 10mon'
 '5yrs 10mon' '3yrs 1mon' '5yrs 4mon' '4yrs 10mon' '0yrs 4mon' '4yrs 0mon'
 '3yrs 9mon' '2yrs 11mon' '1yrs 8mon' '5yrs 2mon' '2yrs 10mon' '1yrs 2mon'
 '1yrs 5mon' '12yrs 10mon' '2yrs 2mon' '3yrs 8mon' '7yrs 5mon' '1yrs 0mon'
 '4yrs 2mon' '1yrs 10mon' '0yrs 6mon' '3yrs 2mon' '5yrs 1mon' '4yrs 3mon'
 '6yrs 9mon' '1yrs 1mon' '11yrs 0mon' '0yrs 9mon' '5yrs 0mon' '11yrs 2mon'
 '4yrs 1mon' '1yrs 4mon' '4yrs 9mon' '12yrs 11mon' '3yrs 7mon' '2yrs 5mon'
 '0yrs 3mon' '6yrs 6mon' '1yrs 6mon' '7yrs 4mon' '19yrs 3mon' '3yrs 0mon'
 '4yrs 6mon' '2yrs 7mon' '2yrs 8mon' '3yrs 11mon' '4yrs 11mon' '8yrs 1mon'
 '7yrs 7mon' '6yrs 7mon' '2yrs 4mon' '3yrs 10mon' '3yrs 3mon' '9yrs 2mon'
 '5yrs 11mon' '7yrs 1mon' '0yrs 5mon' '3yrs 5mon' '3yrs 4mon' '2yrs 6mon'
 '3yrs 6mon' '6yrs 10mon' '6yrs 3mon' '4yrs 5mon' '13yrs 2mon'
 '12yrs 3mon' '0yrs 8mon' '6yrs 2mon' '11yrs 11mon' '6yrs 5mon'
 '5yrs 5mon' '6yrs 11mon' '11yrs 4mon' '6yrs 1mon' '8yrs 6mon' '8yrs 4mon'
 '5yrs 8mon' '8yrs 11mon' '11yrs 3mon' '10yrs 9mon' '7yrs 3mon'
 '5yrs 7mon' '10yrs 0mon' '6yrs 8mon' '5yrs 3mon' '10yrs 10mon'
 '8yrs 8mon' '4yrs 4mon' '6yrs 0mon' '8yrs 3mon' '8yrs 7mon' '10yrs 5mon'
 '24yrs 8mon' '13yrs 5mon' '5yrs 9mon' '8yrs 5mon' '10yrs 2mon'
 '7yrs 0mon' '8yrs 10mon' '11yrs 5mon' '9yrs 4mon' '12yrs 0mon'
 '9yrs 8mon' '7yrs 11mon' '9yrs 5mon' '11yrs 7mon' '7yrs 8mon' '6yrs 4mon'
 '9yrs 11mon' '9yrs 10mon' '13yrs 3mon' '11yrs 8mon' '10yrs 1mon'
 '11yrs 6mon' '8yrs 9mon' '10yrs 4mon' '16yrs 1mon' '9yrs 1mon'
 '15yrs 2mon' '11yrs 9mon' '12yrs 1mon' '8yrs 2mon' '22yrs 7mon'
 '10yrs 3mon' '9yrs 7mon' '8yrs 0mon' '14yrs 9mon' '14yrs 10mon'
 '14yrs 0mon' '10yrs 8mon' '16yrs 5mon' '10yrs 7mon' '11yrs 10mon'
 '12yrs 6mon' '7yrs 9mon' '16yrs 4mon' '11yrs 1mon' '7yrs 6mon'
 '7yrs 10mon' '9yrs 9mon' '12yrs 8mon' '12yrs 9mon' '13yrs 7mon'
 '9yrs 0mon' '17yrs 1mon' '22yrs 3mon' '13yrs 10mon' '13yrs 6mon'
 '12yrs 4mon' '10yrs 11mon' '9yrs 3mon' '12yrs 5mon' '14yrs 11mon'
 '10yrs 6mon' '9yrs 6mon' '15yrs 1mon' '14yrs 3mon' '13yrs 4mon'
 '14yrs 7mon' '15yrs 11mon' '27yrs 4mon' '13yrs 0mon' '13yrs 8mon'
 '19yrs 11mon' '16yrs 8mon' '24yrs 2mon' '15yrs 7mon' '13yrs 1mon'
 '12yrs 7mon' '15yrs 6mon' '15yrs 5mon' '13yrs 11mon' '16yrs 6mon'
 '23yrs 3mon' '17yrs 0mon' '14yrs 6mon' '17yrs 10mon' '14yrs 1mon'
 '18yrs 1mon' '15yrs 3mon' '20yrs 6mon' '14yrs 8mon' '15yrs 9mon'
 '19yrs 9mon' '15yrs 10mon' '17yrs 9mon' '15yrs 4mon' '12yrs 2mon'
 '19yrs 10mon' '15yrs 8mon' '14yrs 4mon' '14yrs 2mon' '14yrs 5mon'
 '27yrs 3mon' '19yrs 8mon' '17yrs 6mon' '16yrs 9mon' '20yrs 1mon'
 '16yrs 2mon' '19yrs 4mon' '13yrs 9mon' '18yrs 4mon' '17yrs 3mon'
 '18yrs 2mon' '37yrs 5mon' '16yrs 0mon' '18yrs 6mon' '19yrs 7mon'
 '16yrs 3mon' '20yrs 5mon' '21yrs 3mon' '25yrs 6mon' '20yrs 8mon'
 '22yrs 1mon' '20yrs 9mon' '17yrs 2mon' '18yrs 5mon' '30yrs 9mon'
 '29yrs 7mon' '15yrs 0mon' '16yrs 10mon' '18yrs 11mon' '16yrs 11mon'
 '22yrs 2mon' '23yrs 6mon' '20yrs 11mon' '18yrs 10mon' '24yrs 4mon'
 '28yrs 1mon' '16yrs 7mon' '20yrs 10mon' '25yrs 0mon' '25yrs 7mon'
 '39yrs 0mon' '23yrs 2mon' '19yrs 6mon' '18yrs 0mon' '17yrs 7mon'
 '23yrs 4mon' '21yrs 5mon' '17yrs 5mon' '21yrs 8mon' '30yrs 7mon'
 '17yrs 4mon' '19yrs 5mon' '18yrs 8mon' '22yrs 6mon' '24yrs 7mon'
 '20yrs 4mon' '28yrs 3mon' '35yrs 3mon' '29yrs 1mon' '20yrs 2mon'
 '34yrs 5mon' '17yrs 11mon' '26yrs 3mon' '28yrs 7mon' '24yrs 0mon'
 '26yrs 8mon' '21yrs 11mon' '17yrs 8mon' '19yrs 1mon' '21yrs 1mon'
 '26yrs 11mon' '22yrs 11mon' '25yrs 8mon' '22yrs 0mon' '20yrs 0mon'
 '22yrs 4mon' '21yrs 9mon' '28yrs 9mon' '19yrs 0mon' '25yrs 11mon'
 '23yrs 1mon' '21yrs 2mon' '22yrs 10mon']


25 unique values for NO.OF_INQUIRIES : [ 0  1  4  2  3  5  6 12  9  8 18  7 19 11 10 15 14 17 20 13 23 28 16 22
 36]


2 unique values for loan_default : [0 1]

In [15]:
for column in df_col_list:
    print('% unique for', column, ':', (df[column].nunique()/len(df)) * 100 , '%')

% unique for UniqueID : 100.0 %
% unique for disbursed_amount : 10.535954776671213 %
% unique for asset_cost : 19.837532274805493 %
% unique for ltv : 2.8217401374199027 %
% unique for branch_id : 0.03516988771369996 %
% unique for supplier_id : 1.2665448587628778 %
% unique for manufacturer_id : 0.004717911766471946 %
% unique for Current_pincode_ID : 2.8727793647117355 %
% unique for Date.of.Birth : 6.61923020836014 %
% unique for Employment.Type : 0.0008578021393585355 %
% unique for DisbursalDate : 0.036027689853058494 %
% unique for State_ID : 0.009435823532943892 %
% unique for Employee_code_ID : 1.4025064978512056 %
% unique for MobileNo_Avl_Flag : 0.00042890106967926776 %
% unique for Aadhar_flag : 0.0008578021393585355 %
% unique for PAN_flag : 0.0008578021393585355 %
% unique for VoterID_flag : 0.0008578021393585355 %
% unique for Driving_flag : 0.0008578021393585355 %
% unique for Passport_flag : 0.0008578021393585355 %
% unique for PERFORM_CNS.SCORE : 0.24576031292622041 %
% unique for PERFORM_CNS.SCORE.DESCRIPTION : 0.008578021393585355 %
% unique for PRI.NO.OF.ACCTS : 0.04632131552536092 %
% unique for PRI.ACTIVE.ACCTS : 0.01715604278717071 %
% unique for PRI.OVERDUE.ACCTS : 0.009435823532943892 %
% unique for PRI.CURRENT.BALANCE : 30.59823121198864 %
% unique for PRI.SANCTIONED.AMOUNT : 19.038918483062698 %
% unique for PRI.DISBURSED.AMOUNT : 20.54822134726404 %
% unique for SEC.NO.OF.ACCTS : 0.01586933957813291 %
% unique for SEC.ACTIVE.ACCTS : 0.00986472460262316 %
% unique for SEC.OVERDUE.ACCTS : 0.0038601096271134103 %
% unique for SEC.CURRENT.BALANCE : 1.392212872178903 %
% unique for SEC.SANCTIONED.AMOUNT : 0.9534470778970122 %
% unique for SEC.DISBURSED.AMOUNT : 1.0949844308911707 %
% unique for PRIMARY.INSTAL.AMT : 12.037966322688009 %
% unique for SEC.INSTAL.AMT : 0.8226322516448356 %
% unique for NEW.ACCTS.IN.LAST.SIX.MONTHS : 0.011151427811660963 %
% unique for DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS : 0.006004614975509749 %
% unique for AVERAGE.ACCT.AGE : 0.08234900537841942 %
% unique for CREDIT.HISTORY.LENGTH : 0.1260969144857047 %
% unique for NO.OF_INQUIRIES : 0.010722526741981694 %
% unique for loan_default : 0.0008578021393585355 %

In [16]:
# Let's look at the summary statistics for numerical variables. 
df.describe()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,State_ID,Employee_code_ID,...,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default
count,233154.000000,233154.000000,2.331540e+05,233154.000000,233154.000000,233154.000000,233154.000000,233154.000000,233154.000000,233154.000000,...,233154.000000,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,233154.000000,233154.000000,233154.000000,233154.000000
mean,535917.573376,54356.993528,7.586507e+04,74.746530,72.936094,19638.635035,69.028054,3396.880247,7.262243,1549.477148,...,0.007244,5.427793e+03,7.295923e+03,7.179998e+03,1.310548e+04,3.232684e+02,0.381833,0.097481,0.206615,0.217071
std,68315.693711,12971.314171,1.894478e+04,11.456636,69.834995,3491.949566,22.141304,2238.147502,4.482230,975.261278,...,0.111079,1.702370e+05,1.831560e+05,1.825925e+05,1.513679e+05,1.555369e+04,0.955107,0.384439,0.706498,0.412252
min,417428.000000,13320.000000,3.700000e+04,10.030000,1.000000,10524.000000,45.000000,1.000000,1.000000,1.000000,...,0.000000,-5.746470e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,476786.250000,47145.000000,6.571700e+04,68.880000,14.000000,16535.000000,48.000000,1511.000000,4.000000,713.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
50%,535978.500000,53803.000000,7.094600e+04,76.800000,61.000000,20333.000000,86.000000,2970.000000,6.000000,1451.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
75%,595039.750000,60413.000000,7.920175e+04,83.670000,130.000000,23000.000000,86.000000,5677.000000,10.000000,2362.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.999000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000
max,671084.000000,990572.000000,1.628992e+06,95.000000,261.000000,24803.000000,156.000000,7345.000000,22.000000,3795.000000,...,8.000000,3.603285e+07,3.000000e+07,3.000000e+07,2.564281e+07,4.170901e+06,35.000000,20.000000,36.000000,1.000000

In [17]:
# Save our cleaned dataset into the folder in our path.
path="/Users/student/Desktop/SpringBoardDSCareerTrack/Capstone 2 Datasets/Vehicle Loan Payments/data"
os.chdir(path)
df.to_csv('Vehicle_Loan_DataWrang.csv',index=False)

In [18]:
# Let's see the results
cleaned_df = pd.read_csv('Vehicle_Loan_DataWrang.csv')
print(cleaned_df.head())
print(cleaned_df.info())

   UniqueID  disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0    420825             50578       58400  89.55         67        22807
1    537409             47145       65550  73.23         67        22807
2    417566             53278       61360  89.63         67        22807
3    624493             57513       66113  88.48         67        22807
4    539055             52378       60300  88.39         67        22807

   manufacturer_id  Current_pincode_ID Date.of.Birth Employment.Type  ...  \
0               45                1441    1984-01-01        Salaried  ...
1               45                1502    1985-07-31   Self employed  ...
2               45                1497    1985-08-24   Self employed  ...
3               45                1501    1993-12-30   Self employed  ...
4               45                1495    1977-12-09   Self employed  ...

  SEC.SANCTIONED.AMOUNT  SEC.DISBURSED.AMOUNT  PRIMARY.INSTAL.AMT  \
0                     0                     0                   0
1                     0                     0                1991
2                     0                     0                   0
3                     0                     0                  31
4                     0                     0                   0

   SEC.INSTAL.AMT  NEW.ACCTS.IN.LAST.SIX.MONTHS  \
0               0                             0
1               0                             0
2               0                             0
3               0                             0
4               0                             0

   DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  AVERAGE.ACCT.AGE  \
0                                    0         0yrs 0mon
1                                    1        1yrs 11mon
2                                    0         0yrs 0mon
3                                    0         0yrs 8mon
4                                    0         0yrs 0mon

   CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES  loan_default
0              0yrs 0mon                0             0
1             1yrs 11mon                0             1
2              0yrs 0mon                0             0
3              1yrs 3mon                1             1
4              0yrs 0mon                1             1

[5 rows x 41 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   UniqueID                             233154 non-null  int64
 1   disbursed_amount                     233154 non-null  int64
 2   asset_cost                           233154 non-null  int64
 3   ltv                                  233154 non-null  float64
 4   branch_id                            233154 non-null  int64
 5   supplier_id                          233154 non-null  int64
 6   manufacturer_id                      233154 non-null  int64
 7   Current_pincode_ID                   233154 non-null  int64
 8   Date.of.Birth                        233154 non-null  object
 9   Employment.Type                      225493 non-null  object
 10  DisbursalDate                        233154 non-null  object
 11  State_ID                             233154 non-null  int64
 12  Employee_code_ID                     233154 non-null  int64
 13  MobileNo_Avl_Flag                    233154 non-null  int64
 14  Aadhar_flag                          233154 non-null  int64
 15  PAN_flag                             233154 non-null  int64
 16  VoterID_flag                         233154 non-null  int64
 17  Driving_flag                         233154 non-null  int64
 18  Passport_flag                        233154 non-null  int64
 19  PERFORM_CNS.SCORE                    233154 non-null  int64
 20  PERFORM_CNS.SCORE.DESCRIPTION        233154 non-null  object
 21  PRI.NO.OF.ACCTS                      233154 non-null  int64
 22  PRI.ACTIVE.ACCTS                     233154 non-null  int64
 23  PRI.OVERDUE.ACCTS                    233154 non-null  int64
 24  PRI.CURRENT.BALANCE                  233154 non-null  int64
 25  PRI.SANCTIONED.AMOUNT                233154 non-null  int64
 26  PRI.DISBURSED.AMOUNT                 233154 non-null  int64
 27  SEC.NO.OF.ACCTS                      233154 non-null  int64
 28  SEC.ACTIVE.ACCTS                     233154 non-null  int64
 29  SEC.OVERDUE.ACCTS                    233154 non-null  int64
 30  SEC.CURRENT.BALANCE                  233154 non-null  int64
 31  SEC.SANCTIONED.AMOUNT                233154 non-null  int64
 32  SEC.DISBURSED.AMOUNT                 233154 non-null  int64
 33  PRIMARY.INSTAL.AMT                   233154 non-null  int64
 34  SEC.INSTAL.AMT                       233154 non-null  int64
 35  NEW.ACCTS.IN.LAST.SIX.MONTHS         233154 non-null  int64
 36  DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  233154 non-null  int64
 37  AVERAGE.ACCT.AGE                     233154 non-null  object
 38  CREDIT.HISTORY.LENGTH                233154 non-null  object
 39  NO.OF_INQUIRIES                      233154 non-null  int64
 40  loan_default                         233154 non-null  int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB
None

We've worked with missing values for 'Employment Type' variable as well as converting date oriented features into datetime objects which could potentially be useful when we do a time series analysis for let's say average time from disbursement date to loan default date. We also looked at unique values for each feature as well as the summary statistics for the numerical features. We are well on our way to start our exploratory analysis. 

Little note*: Saving our date to a csv file will not save the datetime object as a datetime. However, it can simply be converted to a datetime object since we took the preliminary steps of saving it in a datetime format.